.App {
  text-align: center;
}

@keyframes move {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.icon {
  position: absolute;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.1);
  animation: move 20s linear infinite;
}

.icon:nth-child(2n) {
  animation-duration: 25s;
  left: 20%;
}

.icon:nth-child(3n) {
  animation-duration: 30s;
  left: 40%;
}

.icon:nth-child(4n) {
  animation-duration: 35s;
  left: 60%;
}

.icon:nth-child(5n) {
  animation-duration: 40s;
  left: 80%;
}

/* Base styles for larger screens */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 60%;
}

.about-image {
  width: 30%;
}

/* Styles for screens smaller than 768px (tablet and mobile devices) */
@media (max-width: 768px) {
  .about-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .about-text, .about-image {
      width: 100%;
  }

  .about-image img {
      max-width: 100%;
      height: auto;
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .nav-bar {
      flex-direction: column;
      align-items: center;
  }

  .nav-item {
      margin: 10px 0;
  }
}